@using CustomIdentity.Models.ViewModels;
@using Microsoft.AspNetCore.Authorization;
@inject IAuthorizationService AuthorizationService
@model List<UserListVM>

@*<div class="row">
    <div class="col-6">
    </div>
    <div class="col-6 text-end">
        <h4>Allowed Permissions for Current User:</h4>
        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Account.Create)).Result.Succeeded)
        {
            <button class="btn btn-success">Create</button>
        }
        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Account.View)).Result.Succeeded)
        {
            <button class="btn btn-info">View</button>
        }
        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Account.Edit)).Result.Succeeded)
        {
            <button class="btn btn-warning">Modify</button>
        }
        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Account.Delete)).Result.Succeeded)
        {
            <button class="btn btn-danger">Delete</button>
        }
    </div>
</div>*@
<h2>List of Users</h2>
<table class="table">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
            @if (User.IsInRole(CustomIdentity.Utilities.Helper.Admin) || User.IsInRole(CustomIdentity.Utilities.Helper.SuperAdmin))
                    {
            <th>Actions</th>
                    }
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserId</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@string.Join(", ", user.Roles)</td>
                <td>
                    @if (User.IsInRole(CustomIdentity.Utilities.Helper.Admin) || User.IsInRole(CustomIdentity.Utilities.Helper.SuperAdmin))
                    {
                        if (user.Roles.Contains(CustomIdentity.Utilities.Helper.SuperAdmin))
                        {
                            if (User.IsInRole(CustomIdentity.Utilities.Helper.SuperAdmin))
                            {
                                <a asp-action="ManageUserRole" asp-controller="Role" asp-route-id="@user.UserId" class="btn btn-secondary">Manage Roles</a>
                                <span>|</span>
                               @* @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Account.Edit)).Result.Succeeded)
                                {*@
                                    <a asp-action="EditUser" asp-route-id="@user.UserId" class="btn btn-info">Edit</a>
                                    <span>|</span>
                                //}
                            }
                            else
                            {
                                <button class="btn btn-secondary" onclick="location.href='@Url.Action("ManageUserRole", "Role", new { id = user.UserId })'" disabled>Manage Roles</button>
                                <span>|</span>
                                <button class="btn btn-info" onclick="location.href='@Url.Action("EditUser", "YourController", new { id = user.UserId })'" disabled>Edit</button>
                                <span>|</span>
                            }
                            <a asp-action="DeleteUser" asp-route-Id="@user.UserId" class="btn btn-danger text-white">
                                Delete
                            </a>
                        }
                        else
                        {
                            <a asp-action="ManageUserRole" asp-controller="Role" asp-route-id="@user.UserId" class="btn btn-secondary">Manage Roles</a>
                            <span>|</span>
                           @* @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Account.Edit)).Result.Succeeded)
                            {*@
                                <a asp-action="EditUser" asp-route-id="@user.UserId" class="btn btn-info">Edit</a> <span>|</span>
                           // }
                            <a asp-action="DeleteUser" asp-route-Id="@user.UserId" class="btn btn-danger text-white">
                                Delete
                            </a>
                        }

                    }

                </td>
            </tr>
        }
    </tbody>
</table>
